/* Navbar styles */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f5f5;
    color: #222;
    line-height: 1.6;
}
.bg{
    background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
    background-color: #fff;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 0;
}
.navbar .logo{
    font-size: 34px;
    font-weight:900;
    color: #4E47FF;
    padding:50px 150px;
}

/* Button Styles */
.btn-primary{
    background-color:#4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

/* Hero Section */
.hero {
    text-align: center;
    padding:309px 265px 152px;   
}
.hero h1{
    font-size: 48px;
    margin-bottom:20px;
    font-weight:bolder;
}

/* preview section */
.preview{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin:115px 160px 115px 140px;
    gap:220px;
}
.preview-left{
    flex: 1 1 300px;
}
.preview-left h2{
    font-size:42px;
    margin-bottom:23px;
}
.preview-left p{
    color: #252432;
    margin-bottom:24px;
    font-size:24 ;
}
.preview-right{
    flex: 1 1 300px;
    text-align: center;
}
.preview-right img{
    max-width:100%;
    border-radius:48px;
}

/* Stats Section */
.stats-section{
    background-color:#4E47FF;
    padding:50px 142px;
    border-radius:24px;
    margin: 60px 0;
    text-align: center;
}
.stats-section{
    font-size: 38px;
    margin-bottom:40px;
}
.stats-grid{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:160px;
}
.stat-item h2{
      font-size:80px;
      color:#4E47FF;
}

/* Testimonials Section */
.testimonials{
    padding:60px 20px;
    text-align: center;
}
.testimonials h3{
    font-size:50px;
    margin-bottom:140px;
}
.testimonial-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px
}
.card{
    background-color:#FFFFFF;
    padding:24px;
    border: 1px solid #eee;
    border-radius: 14px;
    width:365px;
    box-shadow:0 2px 8px rgba(0,0,0,0.04);
}
.stars{
    color:#facc15;
    font-size:18px;
    margin-bottom:24px;
}
.card h4{
    margin-bottom:8px;
    font-size: 2px;
}
.review-text{
    font-size: 16px;
    color: #1E1E1E;
    margin-bottom:24px;
}
.images{
    display: flex;
    align-items: center;
    gap: 12px;
}
.testimonials-img{
   width:40px;
   height:40px;
   border-radius:50%;
}
.card small{
    color:#757575;
    font-size:13px;
}

/* Call to Action (CTA) Section */
.cta{
    text-align: center;
    padding:137px 148px 160px 150px;
}
.cta h2{
    font-size: 50px;
    margin-bottom:20px ;
}
.cta-btn{
    background-color: #4E47FF;
    color: white;
    border: none;
    padding:12px 36px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom:20px;
}
.cta-img img{
    max-width: 100%;
    border-radius:48px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}